/* Global Style */
.multi_col{
    display: flex;}

  img{
    width:90%;
    border-radius: 40px;
    padding:10px 0;
    display: block;
     margin: 0 auto;
  }
section,aside{
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
     border: 2px solid rgb(182, 15, 182);
    }


/* moble styles*/
#container{
    border-radius: 20px;
    margin:10px;
    width: 90%;
    padding: 10px;
}
nav li{
    display: block;
}
nav li a{
  color: rgb(80, 61, 150);
  padding: 0 10px;
  background-color: rgb(149, 213, 255);
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
a{
    text-decoration: none;
    color: rgb(80, 55, 221);
}

a:hover{
    color: rgb(225, 240, 93);
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}
nav a:hover{
    background-color: rgb(54, 168, 184);
    color: rgb(131, 64, 240);
}
/* tablet styles*/
@media (min-width:768px){
      #container{
         margin: 10px;
         padding: 5px 10px;
         width: 90%;
        }

    nav{
        padding:10px 0;
        text-align: center;
    }
    nav li{
         display: inline-block;
    }
    nav li a{
        font-size: 30px;
    }
    main{font-size: 20px;}

    nav a:hover{
        background-color: rgb(70, 169, 182);
    }
    img{
            width: 70%;
            border-radius: 40px;
            padding:15px 5px;
            display: block;
            margin: 5px auto;
    }

}
/* Desktop Styles */
@media (min-width:1024px){
  #container{
   margin: 5px;
   padding: 0 10px;
  }
  img{
            width: 55%;
            border-radius: 40px;
            padding:10px 0;
            display: block;
            margin: 0 auto;
    }
    main{
        font-size: 20px;
    }

}