/* Global Style */
  img{
    width:90%;
    border-radius: 20px;
    padding:10px 0;
    display: block;
    margin: 0 auto;
  }
section,aside{
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
     border: 2px solid rgb(182, 15, 182);
    }

footer{
    text-align: center;
}
/* moble styles*/
#container{
    border-radius: 20px;
    width: 93%;
    padding: 10px;
}
nav li{
    display: block;}

nav li a{
    display: block;
  color: rgb(80, 61, 150);
  padding: 0 10px;
  background-color: rgb(149, 213, 255);
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  margin:5px 0;
}
a{
    text-decoration: none;
    color: rgb(1, 69, 255);
}

a:hover{
    color: rgb(225, 240, 93);
}

nav{
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}
nav a:hover{
    background-color: rgb(54, 168, 184);
    color: rgb(131, 64, 240);
}
/* tablet styles*/
@media (min-width:768px){
      #container{
         margin: 10px auto;
         padding: 5px 10px;
         width: 90%;
        }

    nav{
        padding:10px 0;
        text-align: center;
    }
    nav li{
         display: inline-block;
    }
    nav li a{
        font-size: 30px;
        width: 120px;
    }

    main{
        font-size: 20px;
    }

    nav a:hover{
        background-color: rgb(70, 169, 183);
    }
    img{
            width: 70%;
            border-radius: 40px;
            padding:15px 5px;
            display: block;
            margin: 5px auto;
    }
    .multi_col{
    display: flex;}

}
/* Desktop Styles */
@media (min-width:1024px){
  #container{
   margin: 5px auto;
   padding: 0 10px;
  }
  img{
            width: 55%;
            border-radius: 40px;
            padding:10px 0;
            display: block;
            margin: 0 auto;
    }
    main{
        font-size: 20px;
    }
    .multi_col{
    display: flex;}
}