/* Global Styles */
a{
    text-decoration: none;
    color: #BCF1FF;
}
nav li{
    display: block;
}
img{
    display: block;
    width:60%;
    margin:10px auto;
    padding: 10px;
}
.ind_img{
     width:80%;
}
.banner_img{
    display: block;
    width:90%;
    margin: auto;
}

section,article{
    margin: 10px auto;
    padding: 5px;
    border-radius:10px ;
}

aside{
    border-radius: 30px;
    margin:0 10px auto;
    padding:5px;
    border: 3px solid;
    }
h2{
    text-align: center;
    margin: 5px auto;
}
h3{
    text-align: center;
    margin: 15px 0 auto;
}
#container{
    margin: 10px auto;
    padding: 5px;

}
iframe{
    margin: 10px auto;
    padding: 10px;
    width: 70%;
}
body{
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
}





/* Mobile Styles */
nav li a{
    display: block;
    text-align: center;
    color:#7ddffa;
    background-color:#0597f8;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin:5px auto;
    padding: 5px;
}
nav ul{
    padding: 0;
}
nav a:hover{
    background-color:#3391c4;
    color:#BCF1FF;
}
footer{
    text-align: center;
}



/* Tablet Styles */
@media(min-width:768px){
    .ind_col{
        display: flex;
    }
    .ind_sec{
        width:70%;
    }
    .ind_asd{
        width: 30%;
    }
   
    nav{
        padding:10px 0;
        text-align: center;
    }
    nav li{
         display: inline-block;
    }
     nav li a{
        font-size: 20px;
        width: 100px;
    } 
    .abt_col{
        display: flex;
        padding:5px;
        margin: 0 auto;
    }
    .abt_col-2{
        display: flex;
        padding:5px;
        margin: 0 auto;
    }
    .col{
        padding:10px;
        margin: 5px auto;
        border: 2px solid #0042f7;
        text-align: center;
    }
    .col-2{
        padding:10px;
        margin: 5px auto;
        border: 2px solid #3690fd;
        border-radius: 10px;
        text-align: center;
    }
    .m_col{
        display: flex;
    }
    .m_col-1{
        width: 60%;
        margin: 10px auto;
        padding: 10px;
        text-align: center;
    }
    .m_col-2{
        width: 40%;
        margin: 10px auto;
        padding: 10px;
        text-align: center;
    }
    nav li a {
        color:#4db8f2;
        background-color:#1c7df4c8;
    }
    a{
        color: aquamarine;
    }
    body{
        font-size: 20px;
    }
}



/* Desktop Styles */
@media(min-width:1024px){
    .ind_col{
     display: flex;
    }
    .ind_sec{
        width:75%;
    }
    .ind_asd{
        width: 25%;
    }
    img{
        display: block;
        width:40%;
        margin:10px auto;
        padding: 10px;
    }
    .ind_img{
        width:50%;
    }
    body{
        font-size: 20px;
    }
    nav li a {
        color:#4db8f2;
        background-color:#1c7df4c8;
    }
    a{
        color: #0042f7;
    }

}

